@import url('https://fonts.googleapis.com/css?family=Montserrat');
*{
	margin: 0;
	padding: 0;
}
body, html{
	width: 100%;
	height: 100%;	
	overflow:hidden;
}
nav{
	position: relative;
	height: 100%;
	width: 100%;
	font-family: 'Montserrat', sans-serif;
	letter-spacing: 1px;
}
.logo{
    width: 240px;
    height: 100px;
    padding: 40px 0 40px 68px;
    box-sizing: border-box;
   -moz-box-sizing: border-box;
    background: #4d9db8;
	font-size: 18px;
    color: #fff;
}
.logo img{
	position: absolute;
	margin: -6px 0 0 -50px;
}
.navigation{
    width: 240px;
    height: 100%;
    background: #2185a6;
    box-sizing: border-box;
   -moz-box-sizing: border-box;
}
.navigation ul li{
	color: #bddbe4;
	text-transform: uppercase;
}
.navigation a{
    display: block;
	padding: 26px;
    font-size: 14px;
    font-weight: 600;
    text-decoration: none;
    color: #bddbe4;
    -webkit-transition:  background 0.3s ease-in-out;
    -moz-transition:  background 0.3s ease-in-out;
    -ms-transition:  background 0.3s ease-in-out;
    -o-transition:  background 0.3s ease-in-out;
    transition:  background 0.3s ease-in-out;
}
.navigation a:hover{
	color: #bbb;
}
.active a{
	color: #fff;
	border-left: 2px solid #fff;
}

/*Стили иконок*/
.navigation a div{
	display: inline-block;
	width: 20px;
	height: 20px;
	margin-right: 20px;
	margin-bottom: -5px;
	background-position: center;
	background-repeat: no-repeat;
}
#user-list{
	background-image: url(../img/user-list.png);
}
#daily{
	background-image: url(../img/daily.png);
}
#brainstorm{
	background-image: url(../img/brainstorm.png);
}
#course{
	background-image: url(../img/course.png);
}
#leveling-system{
	background-image: url(../img/leveling-system.png);
}
#live-streams{
	background-image: url(../img/live-streams.png);
}
#advanced{
	background-image: url(../img/advanced.png);
}
#video-analytics{
	background-image: url(../img/video-analytics.png);
}
/*                */
/******************/